httmock==1.2.6
Js2Py==0.44
pkginfo==1.4.1
pluggy==0.6.0
py==1.5.2
pyjsparser==2.5.2
pytz==2016.4
requests==2.4.1
requests-toolbelt==0.8.0
six==1.10.0
tox==2.9.1
twine==1.6.5
tzlocal==1.2.2
virtualenv==15.1.0
